@import 'reset';
@import 'icon';

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #333;
  font-size: 28px;
  display: inline-block;
}

.slide-down-enter, .slide-down-leave-to {
  transform: translate3d(0, -100%, 0)
}
.slide-down-enter-to, .slide-down-leave, .slide-up-enter-to, .slide-up-leave {
  transform: translate3d(0, 0, 0)
}
.slide-down-enter-active, .slide-down-leave-active, .slide-up-enter-active, .slide-up-leave-active, .fade-enter-active, .fade-leave-active, .slide-right-enter-active, .slide-right-leave-active, .slide-left-enter-active, .slide-left-leave-active {
  transition: all .3s linear;
}
.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, 108px, 0)
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave {
  opacity: 1;
}
.slide-right-enter, .slide-right-leave-to {
  transform: translate3d(-100%, 0, 0);
}
.slide-left-enter, .slide-left-leave-to {
  transform: translate3d(100%, 0, 0);
}
.slide-left-enter-to, .slide-left-leave {
  transform: translate3d(0, 0, 0);
}

